<div class="row justify-content-center">
    <div class="col-10 mt-5">
        <b>Anteris</b> we are proudly non-profit, non-corporate, and non
        compromised. thousands of people like you help us stand up for
        a new way to help people. We rely on donations to carry out our mission.
        Will you give today ?
    </div>
    <div class="col-10 mt-5">
        Anteris is a tax exumpt public charity under section 501
        of the internal revenue code. Your contribution is tax
        deductible to the extent permitted by law.
    </div>
    <app-stripe-checkout-handler></app-stripe-checkout-handler>
    <!--app-stripe-checkout></app-stripe-checkout-->
</div>