<div class="row justify-content-center form-group" *ngIf="loaded">
    <form [formGroup]="editUser" role="form" class="mb-5 w-75" (ngSubmit)="onSubmit()">
        <div class="row justify-content-center">
            <div class="form-group col-lg-6 col-md-10">
                <label for="firstname">Firstname</label>
                <input type="text" class="form-control" id="firstname" placeholder="Firstname" formControlName="firstname">
            </div>

            <div class="form-group col-lg-6 col-md-10">
                <label for="lastname">Lastname</label>
                <input type="text" class="form-control" id="lastname" placeholder="Lastname" formControlName="lastname">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="form-group col-lg-6 col-md-10">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username">
            </div>

            <div class="form-group col-lg-6 col-md-10">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="form-group col-lg-12 col-md-10">
                <label for="role">Roles</label>
                <ng-select [items]="dropdownListRoles"
                    bindLabel="roles"
                    [multiple]="true"
                    placeholder="Select Roles"
                    formControlName="roles">
                </ng-select>
            </div>
        </div>

        <div class="row justify-content-center">
            <input type="submit" class="btn btn-success col-lg-6 col-md-10" value="Submit">
        </div>
    </form>
</div>