<div class="row justify-content-end">
    <div class="btn btn-sm btn-success mb-5" routerLink="/add-member"><i class="fa fa-plus"></i> Add Member</div>
</div>
<div class="row justify-content-center" *ngIf="loaded">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="mb-2 fa-2x"><b>Members</b></div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr *ngFor="let m of members">
                        <td>{{m.id}}</td>
                        <td>{{m.firstname}}</td>
                        <td>{{m.lastname}}</td>
                        <td>{{m.email}}</td>
                        <td>
                            <span *ngIf="m.enabled" class="badge badge-success">Active</span>
                            <span *ngIf="!m.enabled" class="badge badge-danger">Banned</span>
                        </td>
                        <td>
                            <div class="btn btn-sm btn-warning" [routerLink]="['/edit-member', m.id]">Edit</div>
                            <div class="btn btn-sm btn-danger ml-2" (click)="delete(m.id)" *ngIf="m.enabled">Ban</div>
                            <div class="btn btn-sm btn-danger ml-2" (click)="unban(m.id)" *ngIf="!m.enabled">Unban</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>